<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student management App</title>
    <style>
      h4 {
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        columns: rgb(232, 143, 35);
      }
    </style>
  </head>
  <body>
    <h1>Student Management App</h1>

    {% include "./header.html" %}


    <h3><a href="login/">Login</a></h3>

    {%for i in peoples %}
    <h4>{{i}}</h4>
    {% endfor %}

    <table border="1px">
      <thead>
        Student details
      </thead>
      <tr>
        <th>Student name</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
      {% for std in peoples %}
      <tr>
        <td>{{std.name}}</td>
        <td>{{std.email}}</td>
        <td>{{std.age}}</td>
        <!-- <td {% if std.active %} style="background-color: green; color: white;" {% endif %}
          >
          {% if std.active == True %} ☑ {% else %} 🔞  {% endif %}
        </td> -->
      </tr>
      {% endfor %}
    </table>

    <!-- <li>
            <ol><a>+Add Students</a></ol>
            <ol><a>+Manage Students</a></ol>
            <ol><a>+View Students</a></ol>
        </li> -->
  </body>
</html>
