{% comment %} <h2>{{ form.instance.pk|yesno:"Edit Student,Create Student" }}</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
<a href="{% url 'student_list' %}">Back to list</a> {% endcomment %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{ form.instance.pk|yesno:"Edit Student,Create Student" }}
      </h3>
    </div>
    <div class="panel-body">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'student_dashboard' %}" class="btn btn-default">Back to list</a>
      </form>
    </div>
  </div>
</div>
